<app-header></app-header><!-- merch-list.component.html -->
<div class="divblock">
<div *ngIf="merchList.length > 0; else noMerchMessage">
    <div class="merch-item" *ngFor="let merch of merchList">
      <img *ngIf="merch.imageUrl" [src]="getImageUrl(merch.imageUrl)" alt="{{ merch.name }}" class="merch-image">
      
      <div class="merch-details">
        <p><strong>Name:</strong> {{ merch.name }}</p>
        <p><strong>Description:</strong> {{ merch.description }}</p>
        <p><strong>Price:</strong> ${{ merch.price }}</p>
        <p><strong>Category:</strong> {{ merch.category }}</p>
  
        <!-- Add to Wishlist / Remove from Wishlist buttons -->
        <div *ngIf="!merch.addedToWishlist">
          <button (click)="addToWishlist(merch)" class="wishlist-btn">Add to Wishlist</button>
        </div>
        <div *ngIf="merch.addedToWishlist">
          <p>Item added to wishlist!</p>
          <!-- Apply 'remove-from-wishlist' class when item is in wishlist -->
          <button (click)="removeFromWishlist(merch)" class="wishlist-btn remove-from-wishlist">Remove from Wishlist</button>
        </div>
  
        <!-- Purchase Button -->
        <button (click)="purchase(merch)" class="purchase-btn">Purchase</button>
      </div>
    </div>
  </div>
  
  <!-- Template to show if no merchandise is available -->
  <ng-template #noMerchMessage>
    <p>No merchandise available at the moment.</p>
  </ng-template>
</div>
  <app-footer></app-footer>